name: Domain Reviewer

on:
  pull_request:
    types: [opened, edited, reopened, synchronize]

jobs:
  domains-reviewer:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./
        with:
          configuration-url: https://raw.githubusercontent.com/axel7083/action-domain/refs/heads/main/domains.json
          github-token: ${{ secrets.GITHUB_TOKEN }}
